/* Inter font  */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Poppins:ital,wght@1,100;1,400&display=swap');
body{
    font-family: "Inter", sans-serif;
    background-color: #000000;
}
/* miama font  */
/* @import url('https://fonts.cdnfonts.com/css/miama'); */


/* Grey Qo font  */
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Michroma&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.body-margin{
    margin: 57px 97px 190px;
}
/* navbar style  */
.nav-logo{
    max-width: 1060px;
    max-height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    
.fitness{
    color: rgb(230, 83, 60); 
   list-style: none;
   font-size: 35px;
   font-weight: 700;
   
}
.T-color{
    background-color: rgb(230, 83, 60); 
    color: rgb(255, 255, 255);
    padding: 8px 20px;
    border-radius: 60px;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}
    
.nav-list{
    color: rgb(255, 255, 255);
    list-style: none;
    font-size: 18px;
    font-weight: 400;
}
.nav-bar-option{
    display: flex;
    gap: 47px;
}
/* shape stay healthy style  */
.shape-stay-healthy-container{
    display: flex;
    margin: 28px 0px;
}
.shape-stay-healthy-context{
    width: 520px;
    height: 440px;
}
.shape-stay-healthy-heading{
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
}
/* #shape{
    font-family:"Miama", sans-serif;   
} */
 #shape {
    font-family: "Grey Qo", cursive;
  font-weight: 500;
  font-style: normal;
 }
.shape-stay-healthy-title{
   color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin: 38px 0;
    
}
#Club-btn{
    margin: 0 10px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
}
#btn{
    background-color: black;
    border: 1px solid white;
    margin: 0 10px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
}
.shape-stay-healthy-image{
    width: 349px;
    height: 580px;
    margin-left: 190px;
    margin-top: 20px;
}
.shape-stay-healthy-image img{
    width: 100%;
}
.Video-tutorial{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    margin-left:-100px;
    margin-top: -140px;
}
.Video-tutorial-color{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:rgb(230, 83, 60);
}
.Video-tutorial-sido{
    color: rgb(250, 250, 249);
    margin: 8px 10px;
    font-size: 20px;
    font-weight: 900;
}
.text-light-gray{
    color: rgba(255, 255, 255, 0.5);
}
.Video-tutorials{
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column;
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    margin-left:240px;
    margin-top: -400px;
}
/* Change Your Habit style  */
.change-habbit-container{
    width: 1044px;
    height: 452px;
    margin-bottom: 108px;
}
.change-habbit-context,.Daliy-Routing-context{
    width: 671px;
    height: 120px;
    margin: 40px auto;
    text-align: center;
}
.change-habbit-title{
    color: rgb(255, 255, 255);
    margin: 14px 0px;
    font-size: 48px;
    font-weight: 900;
}
.imge-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 60px;
    /* margin-right: 60px; */
}
.title-contex{
    width: 231px;
    height: 274px;
    margin: 30px auto;
    text-align: center;
}
.img{
    border-radius: 100px;
}
/* Run an Extra Mile Easily style  */
.Ran-exter-Container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    width: 1060px;
    height: 371px;
    margin: 62px auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 20px 62px 0 62px;
}
.Run-extra-context{
    width: 443px;
    height: 202px;
}
.Run-extra-heading{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin: 14px 0px;
}
.Run-extra-describtion{
    margin-bottom: 40px;
}
.Run-exter-image{
    width: 366px;
    height: 312px;
    margin: 30px 32px 30px 120px;
}
.Run-exter-image img{
    width: 100%;
    border-radius: 18px;
    object-fit: none;
    object-position: 68% 33%;
}
.Ran-exter-Container img{ 
     width: 100%;
     height:100%;
}
/* Trainings and Exercises style  */
.Trainings-Exercises-images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.Trainings-Exercises-images img{
    width: 100%;
    height: 100%;
    filter: grayscale(50%);
    }
/* 24 Hours Daliy Routing */
.Daliy-Routing-image{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 20px;
}
.Daliy-Routing-part{
    border-radius: 10px;
}
.Daliy-Routing-image img{
    width: 100%;
    height: 100%;
}
/* BMI Calculator style  */
.BMI-Cal-text{
width: 671px;
height: 120px;
margin: 40px auto;
text-align: center;
}
.article-text-color{
    color: rgb(255, 255, 255);
}
.BMI-Container{
    display: flex;
    justify-content: space-around;
    background: rgb(34, 34, 34);
    margin: 0;
    padding: 0;
}
table,th,td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
    
}
.Calculate-BMI{
    width: 577px;
    height: 386px;
}
.BMI-Cal{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-bottom: 50px;
}
.BMI-Cal input,select{
    padding: 10px;
}
#activity-facto{
    grid-column: span 2;
}
/* Meet Our Team style  */
.Meet-Team-text{
    width: 671px;
    height: 120px;
    margin: 58px auto;
    text-align: center;
}
.container{
    position: relative;
}
.bottom-left{
    position: absolute;
  bottom: 8px;
  left: 16px;
}
.top-left {
    position: absolute;
  top: 8px;
  left: 16px;
}
.top-right{
    position: absolute;
    top: 8px;
    right: 16px;
}
.Meet-Team-img{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    padding: 20px;
}
.trainer-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin: 20px 0px;
}
.trainer-img img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2)
}
/* footer style  */
.footer{
    background: rgba(255, 255, 255, 0.1);
    margin:0;
    padding:0;
}
.Fitness-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 88px;
}
.footer-get-started{
    margin-left: 150px;
}
.footer-get-started div{
    margin: 30px 0;
}
.footer-buttom{
    border-top: 1px solid snow;
    text-align: center;
    padding: 20px;
}